<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617667605152-rpdplvaa1elcqsigauodvnifv43c9et7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617667605152-rpdplvaa1elcqsigauodvnifv43c9et7</string>
	<key>API_KEY</key>
	<string>AIzaSyBNbjorOXSb3L3-oE5VXim7zIX7Wfx_c4g</string>
	<key>GCM_SENDER_ID</key>
	<string>617667605152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wajid.ICLMasjid</string>
	<key>PROJECT_ID</key>
	<string>iclmasjid</string>
	<key>STORAGE_BUCKET</key>
	<string>iclmasjid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617667605152:ios:2262306e8eb088b5</string>
	<key>DATABASE_URL</key>
	<string>https://iclmasjid.firebaseio.com</string>
</dict>
</plist>